<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Starla.otf</string>
		<string>Stefiont-Regular.otf</string>
		<string>Sansilk.otf</string>
		<string>Dufanthe.otf</string>
		<string>Farmhouse Children.otf</string>
		<string>Curlings.ttf</string>
		<string>NeverMindHandwriting-Regular.ttf</string>
		<string>starla/Starla.otf</string>
		<string>stefiont/Stefiont-Regular.ttf</string>
		<string>sansilk/Sansilk.ttf</string>
		<string>ttf/NeverMindHandwriting-Regular.ttf</string>
		<string>farmhouse_children/Farmhouse Children.otf</string>
		<string>dufanthe/Dufanthe.ttf</string>
	</array>
</dict>
</plist>
